<div class="demo">
	<div class="tc_toggle__demo">
		<div class="tc_toggle">
            <label class="tc_toggle__container">
                <input class="message-job-configuration modal-content__toggle" type="checkbox" data-job-id="<?php print $job_id; ?>" data-event-name="<?php print $event_name; ?>" <?php print $is_job_enabled ? 'checked': ''; ?>
                <div class="tc_toggle__switch round"></div>
            </label>
			<span class="tc_toggle__label">{{ toggle.label }}</span>
     	</div>	
	</div>		
</div>

