<div class="row-fluid tc_row__margin tc_container--blue">
	<div class="tc_steps">
		<div class="span6">
			<span class="tc_steps__title--active">
			<span class="tc_circle">1</span> 
			{{ steps.first}}</span>
		</div>
		<div class="span6">
			<span class="tc_steps__title--disabled">
			<span class="tc_circle--disabled">2</span> 
			{{ steps.second}}</span>
		</div>
	</div>
</div>
