<div class="row-fluid tc_row__margin">
	<div class="span8">
		<span class="tc_breadcrumb_title">
			{% include "atoms-arrow-left" %}
			{{ breadcrumb.previous}} 
			<strong>{{breadcrumb.current}}</strong>
		</span>
	</div>
	<div class="span4 pull-right">
		{% include "atoms-primary-button-with-icon" %}
	</div>
</div>
