<div class="row-fluid tc_row__margin">
	<div class="span8">
		<div class="tc_pagination pagination">
			<ul class="tc_list">
				<li>
					<div class="tc_pagination__arrow">
						{% include "atoms-arrow-left-with-text" %}
					</div>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li><a href="#">8</a></li>
				<li><a href="#">9</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">siguiente</a></li>
			</ul>
		</div>
	</div>
	<div class="span4 pull-right">
		{% include "atoms-primary-button-with-icon" %}</div>
	</div>
</div>
