<div class="tc_modal modal hide fade" id="tc_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="row tc_row">
		<div class="tc_modal__header">
			<a class="close cirlce" data-dismiss="modal" aria-hidden="true">×</a>
			<h3 class="tc_modal__h3">Vista previa de email candidato</h3>
		</div>
		<div class="tc_modal__content">
			<p><span>De: &nbsp;</span><strong>no-reply@talentclue.com</strong></p>
			<p><span>A:&nbsp;</span><strong>Antonio P&eacute;rez L&oacute;pez</strong></p>
			<p><span>Asunto:&nbsp;</span><strong>Seguimiento de oferta de empleo</strong>
			</p>
		</div>
		<div class="tc_modal__content--center">
			<img src="img/seur.png" width="276" alt=""></img>
		</div>
		<div class="tc_modal__content--white">
			<p>Hola <span class="tc_modal__span--blue">Nombre candidato</span></p>
			<p>Gracias por tu inter&eacute;s en nuestra empresa y por el tiempo que has dedicado para el </p>
			<p>
				Te escribimos para informarte de que, despu&eacute;s de haber evaluado tu candidatura, consideramos que para este proceso tu perfil no se ajusta plenamente a nuestras necesidades.
			</p>
			<p> Sin embargo y con tu conformidad, conservaremos tu CV en nuestra base de datos para futuras selecciones. Un saludo,</p>
			<p>Un saludo
				<p><span class="tc_modal__span--blue">Tu empresa</span></p>
			</p>
		</div>
	</div>
</div>
