{% block content %}
<div class="row-fluid tc_row__margin">
    <div class="span2">
        {% block main %}
            <p>Left Column</p>
        {% endblock %}
    </div>
    <div class="span10">
        {% block sidebar %}
			<p>Content Placeholder</p>
        {% endblock %}
    </div>
</div>
{% endblock %}
