{% block content %}
    {% block breadcrumb %}
    {% endblock %}
    <div class="row-fluid tc_row__margin">
        <div class="span12">
            {% block main %}
                
                <p>Left Column</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}