.tc_body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 40px 0px;
    height: 100%;
    margin: 0px;
    color: #999;
}


/* Titles */

.tc_h3 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #777;
    margin: 20px 0;
}

.tc_h2 {
    width: 100%;
    height: 27px;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    color: #0797C1;
    margin-top: 0px;
}

.tc_h3--underline {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: #777;
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #979797;
    max-width: 236px;
}


/* Buttons */

.tc_btn__main:hover, .tc_btn__main--xl:hover, .tc_btn__main:visited {
    background-color: #057495;
    color: #fff;
    text-decoration: none;
}

.tc_btn__main--xl {
    padding: 0px 20px;
    float: right;
}

.tc_btn__disabled {
    height: 30px;
    background-color: #E0E0E0;
    border-radius: 3px;
    width: 100px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #999;
    border: 0px;
    margin: 0 0 10px 10px;
}

.tc_btn__main, .tc_btn__main--xl {
    width: auto;
    height: 30px;
    background-color: #0797C1;
    border-radius: 3px;
    font-size: 14px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 28px;
    margin: auto;
}

.tc_btn__secondary {
    width: 232px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #0797C1;
    border-radius: 3px;
    display: block;
    line-height: 30px;
    text-align: center;
}

.tc_btn__link {
    height: 30px;
    background-color: #fff;
    display: block;
    line-height: 30px;
    text-align: center;
}

.tc_btn__container--center {
    margin: auto;
    float: none;
    max-width: 150px;
}


/* Icons */

.tc_icon-xs:before {
    font-size: 13px;
    color: #0797C1;
}

.tc_icon-sm:before {
    font-size: 14px;
    color: #0797C1;
}

.tc_icon-md:before {
    font-size: 20px;
    color: #B1D3E3;
    display: block;
}

.tc_icon-lg:before {
    font-size: 26px;
    color: #B1D3E3;
    background-color: #E7F5F9;
    position: relative;
    top: 10px;
}

.tc_icon-xl:before {
    font-size: 36px;
    color: #B1D3E3;
}


/* Panels */

.tc_panel {
    width: 728px;
    background-color: #E7F5F9;
    border: 1px solid #6DC2DA;
    border-radius: 3px;
    padding: 30px;
    position: relative;
}

.tc_panel__item {
    width: 278px;
    padding-left: 16px;
}

.tc_panel__icons {
    display: inline-block;
    margin-right: 10px;
}

.tc_panel__title--sub {
    font-size: 16px;
    line-height: 22px;
    color: #4A4A4A;
}

.tc_panel__col {
    width: 278px;
    height: 76px;
    font-size: 14px;
    line-height: 19px;
    color: #777;
    margin-top: 30px;
    padding-left: 37px;
}

.tc_panel__padding--intro {
    padding: 16px 0;
}


/* Tables */

.tc_table {
    cursor: pointer;
    max-width: 820px;
}

.tc_table input[type=checkbox] {
    margin: 0 auto;
    display: block;
}

.tc_table__header {
    height: 18px;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    color: #0797C1;
    border-top: 0px;
}

.tc_table__icons {
    display: inline-block;
    margin-right: 16px;
}

td.tc_table__cell--checkbox {
    width: 20px;
    padding-left: 10px;
}

.tc_table__cell {
    font-size: 13px;
    text-align: left;
}

.tc_table__cell--first {
    height: 18px;
    font-size: 13px;
    line-height: 18px;
    color: #0797C1;
}

.tc_table__cell--last {
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: #0797C1;
}

.tc_table__cell--sm {
    width: 30px;
}

.tc_active, .tc_table tr:hover {
    background-color: #E7F5F9;
}


/* Pagination */

.tc_pagination {
    margin: 0px;
}

.tc_pagination ul {
    width: 540px;
    display: inline-block;
}

.tc_pagination ul>li {
    display: inline-block;
    float: left;
}

.tc_pagination ul li a {
    color: #777;
    font-size: 14px;
}

.tc_pagination__arrow {
    display: inline-block;
    float: left;
    padding-right: 40px;
}

.tc_pagination ul>li>a, .tc_pagination ul>li>span {
    border: 0px;
    font-size: 16px;
}

.tc_pagination--title {
    width: 53px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    color: #777;
}


/* Modal */

.tc_modal {
    width: 748px;
    height: auto;
    background-color: #eee;
    border-radius: 3px;
    padding: 20px;
    left: 50%;
    margin-left: auto;
    transform: translateX(-50%);
}

.tc_modal__h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 27px;
    color: #999;
    text-align: center;
}

.tc_modal__content, .tc_modal__content--white {
    padding: 20px;
    margin: 0 auto 10px auto;
    font-size: 13px;
    line-height: 18px;
    color: #777;
}

.tc_modal__content--center {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto 10px auto;
}

.tc_modal__header a.close {
    opacity: 1;
    width: 20px;
    text-align: center;
    height: 20px;
    background: #0797C1;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    color: #fff;
    position: relative;
    top: -10px;
}

.tc_modal__span--blue {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 18px;
    color: #057495;
    float: none;
    margin-left: 0px;
    display: inline-block;
    background-color: #E7F5F9;
    padding: 5px;
}

.tc_modal__content--white {
    background-color: #fff;
}


/* Forms */

.tc_label__bold {
    height: 16px;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    color: #777;
}

.tc_label {
    height: 18px;
    font-size: 13px;
    line-height: 18px;
    color: #777;
}

.tc_placeholder__icon {
    position: absolute;
    left: 200px;
    top: 29px;
}

.tc_fieldset {
    position: relative;
}


/* Breadcrumb and steps */

.tc_breadcrumb_title {
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    color: #777;
}

.tc_steps {
    max-width: 550px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    text-align: center;
}

.tc_steps__title--active {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
}

.tc_steps__title--disabled {
    font-size: 16px;
    line-height: 30px;
    color: #777;
}


/* Toggle */

.tc_toggle {
    float: right;
    width: 120px;
    position: absolute;
    right: 0px;
    top: 15px;
    display: block;
    height: 30px;
}

.tc_toggle__label {
    width: 72.86px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #0797C1;
    display: inline-block;
}

.tc_toggle__container {
    position: relative;
    width: 27px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.tc_toggle__checkbox {
    display: none;
}

.tc_toggle__switch {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #0797C1;
    border-radius: 20px;
    margin-bottom: 0px;
}

.tc_toggle__switch--inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.tc_toggle__switch--inner:before, .tc_toggle__switch--inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 13px;
    padding: 0;
    line-height: 20px;
    box-sizing: border-box;
}

.tc_toggle__switch--inner:before {
    content: "";
    padding-left: 5px;
    background-color: #0797C1;
    color: #fff;
}

.tc_toggle__switch--inner:after {
    content: "";
    padding-right: 5px;
    background-color: #777;
    color: #999;
    text-align: right;
}

.tc_toggle__switch--slider {
    display: block;
    width: 13px;
    margin: 0px;
    background: #E7F5F9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    border: 2px solid #0797C1;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.tc_toggle__checkbox:checked+.tc_toggle__switch .tc_toggle__switch--inner {
    margin-left: 0;
}

.tc_toggle__checkbox:checked+.tc_toggle__switch .tc_toggle__switch--slider {
    right: 0px;
}


/* Circle */

.tc_circle {
    width: 30px;
    height: 30px;
    background: #0797C1;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    color: #fff;
}

.tc_circle--disabled {
    width: 30px;
    height: 30px;
    background: #999;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    color: #fff;
}


/* Lists */

.tc_list {
    padding: 0;
    margin: 0 0 0px 25px;
}


/* Randoms */

.tc_seperator {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #B1D3E3;
    margin: 0px;
}

.tc_mailto__link {
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    color: #0797C1;
}

.tc_mailto__link:hover {
    color: #057495;
}

.tc_mailto__link:active, .tc_mailto__link:focus {
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    color: #0797C1;
}

.tc_indent {
    text-indent: 40px;
}

.tc_no__margin {
    margin: 0px;
}
