<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #e7f5f9;"></span>
		<span class="sg-label">#e7f5f9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6dc2da;"></span>
		<span class="sg-label">#6dc2da</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #057495;"></span>
		<span class="sg-label">#057495</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e0e0e0;"></span>
		<span class="sg-label">#e0e0e0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999999;"></span>
		<span class="sg-label">#999999</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4a4a4a;"></span>
		<span class="sg-label">#4a4a4a</span>
	</li>
</ul>
