<p>Primary font: 'Open Sans', sans-serif;</p>
<p><em>Primary font italic: 'Open Sans', sans-serif;;</em></p>
<p><strong>Primary font bold: 'Open Sans', sans-serif;</strong></p>
<p class="font-secondary">Secondary font: 'Lato', sans-serif;</p>
<p class="font-secondary"><em>Secondary font italic: 'Lato', sans-serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: 'Lato', sans-serif;</strong></p>
