<!DOCTYPE html>
<html class="{{ htmlClass }}">

<head>
	<title>Talent Clue Living Style Guide</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />

	<link href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
	<link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
	{{ patternLabHead | raw }}
	<!-- End Pattern Lab -->
</head>

<body class="tc_body">
	<div class="container tc_container">
